In [7]:
import xarray as xr
import climetlab as cml
import numpy as np
from src.utils import *
import pandas as pd

# Ensemble Learning

## Stacked Generalization

[good resource](https://machinelearningmastery.com/implementing-stacking-scratch-python/)

We use the results of our previous models as a feature set, and train a Linear or Logistic Regression model on it. 

Models used as features:
- Climatology
- Persistence
- Convolutional Neural Network
- Artificial Neural Network
- Residual Neural Network

In [8]:
files = ['../data/us_temperature_cnn_forecast.nc',
 '../data/us_temperature_persistence_forecast.nc',
 '../data/us_temperature_ann_forecast.nc',
 '../data/us_temperature_resnet_forecast.nc',
 '../data/us_temperature_hourly_climatology_forecast.nc',
 '../data/us_temperature_lr_forecast.nc',
 '../data/us_temperature_forecast_true.nc']

In [10]:
temp_preds = []
names = ['cnn', 'persistence', 'ann', 'resnet', 'climatology', 'linreg', 't2m']
for i in range(len(files)):
    a = xr.open_mfdataset(files[i]).t2m
    a.name = names[i]
    temp_preds.append(a)
pred_temp = xr.merge(temp_preds)

In [12]:
# pred_temp = pred_temp.to_dataframe()
pred_temp.to_dataframe()

                                          cnn  persistence       ann  \
time                lat     lon
2018-12-02 00:00:00 19.6875 230.625  0.707084     0.679584  0.878333
                            236.250  0.689602     0.666324  0.863834
                            241.875  0.725323     0.710703  0.858882
                            247.500  0.918551     0.886111  0.958976
                            253.125  1.156270     1.112453  1.199840
...                                       ...          ...       ...
2018-12-31 23:00:00 53.4375 275.625 -2.043647    -1.629470 -2.138211
                            281.250 -1.988226    -1.585034 -2.068395
                            286.875 -2.383808    -1.865583 -2.186513
                            292.500 -2.718393    -2.410906 -2.227561
                            298.125 -2.524466    -2.450746 -2.270260

                                       resnet  climatology      linreg  \
time                lat     lon
2018-12-02 00:00:00 19.6875 230.625  0.734776     1.068947  296.281982
                            236.250  0.703639     1.026131  296.323425
                            241.875  0.747391     1.043698  296.866425
                            247.500  0.951400     1.149688  298.825226
                            253.125  1.185218     1.258461  301.080017
...                                       ...          ...         ...
2018-12-31 23:00:00 53.4375 275.625 -1.582142    -1.926991  253.378830
                            281.250 -1.570587    -1.760441  256.937195
                            286.875 -1.897276    -1.824831  253.184128
                            292.500 -2.297356    -1.858871  249.474670
                            298.125 -2.265575    -1.633755  250.899323

                                            t2m
time                lat     lon
2018-12-02 00:00:00 19.6875 230.625  295.349121
                            236.250  294.860596
                            241.875  294.606995
                            247.500  295.957184
                            253.125  298.599884
...                                         ...
2018-12-31 23:00:00 53.4375 275.625  241.355621
                            281.250  243.963531
                            286.875  252.101669
                            292.500  247.659531
                            298.125  243.342209

[65520 rows x 7 columns]

In [26]:
files = ['../data/us_precipitation_cnn_forecast.nc',
 '../data/us_precipitation_persistence_forecast.nc',
 '../data/us_precipitation_resnet_forecast.nc',
 '../data/us_precipitation_ann_forecast.nc',
 '../data/us_precipitation_lr_forecast.nc',
 '../data/us_precipitation_hourly_climatology_forecast.nc',
 '../data/us_precipitation_forecast_true.nc']

In [34]:
rain_preds = []
names = ['cnn', 'persistence', 'ann', 'resnet', 'climatology', 'linreg', 'tp']
for i in range(len(files)):
    a = xr.open_mfdataset(files[i]).tp
    a.name = names[i]
    rain_preds.append(normalize(a))
pred_rain = xr.merge(rain_preds)

In [35]:
pred_rain = pred_rain.to_dataframe()
pred_rain

                                          cnn  persistence       ann  \
time                lat     lon
2018-12-02 00:00:00 19.6875 230.625 -0.139971    -0.317887 -0.590726
                            236.250 -0.303081    -0.317888 -0.343417
                            241.875 -0.541933    -0.317888 -0.559803
                            247.500 -0.476523    -0.312903 -0.796801
                            253.125 -0.610912    -0.317888 -0.603177
...                                       ...          ...       ...
2018-12-31 23:00:00 53.4375 275.625 -0.139093    -0.302928 -0.475812
                            281.250 -0.040359    -0.297944 -0.317000
                            286.875 -0.444778    -0.280496 -0.330175
                            292.500  0.014300    -0.302928 -0.339926
                            298.125 -0.233870    -0.312902 -0.282547

                                       resnet  climatology    linreg        tp
time                lat     lon
2018-12-02 00:00:00 19.6875 230.625 -0.481211    -0.496929 -0.257439 -0.235112
                            236.250 -0.970132    -0.268314 -0.451434 -0.311423
                            241.875 -0.697055    -0.916513 -0.720140 -0.311423
                            247.500  0.214058    -0.981380 -0.791928 -0.311423
                            253.125 -0.511739    -0.853520 -0.794219 -0.311423
...                                       ...          ...       ...       ...
2018-12-31 23:00:00 53.4375 275.625 -0.688987    -0.539605 -0.568688 -0.311423
                            281.250 -0.740456    -0.173546 -0.374541 -0.299372
                            286.875 -1.033337    -0.432522 -0.503217 -0.289339
                            292.500 -1.563772    -0.662929 -0.625828 -0.309415
                            298.125 -1.163952    -0.439801 -0.353946 -0.311423

[65520 rows x 7 columns]

In [41]:
pred_temp.thin(time=5)

                                          cnn  persistence       ann  \
time                lat     lon
2018-12-02 00:00:00 19.6875 230.625  1.033080     0.785303  0.996729
                            236.250  1.013303     0.768544  0.980745
                            241.875  1.053713     0.824635  0.975286
                            247.500  1.272311     1.046334  1.085628
                            253.125  1.541241     1.332411  1.351156
...                                       ...          ...       ...
2018-12-31 23:00:00 53.4375 275.625 -2.078802    -2.133133 -2.328683
                            281.250 -2.016105    -2.076970 -2.251719
                            286.875 -2.463624    -2.431558 -2.381931
                            292.500 -2.842138    -3.120799 -2.427182
                            298.125 -2.622750    -3.171152 -2.474253

                                       resnet  climatology    linreg       t2m
time                lat     lon
2018-12-02 00:00:00 19.6875 230.625  1.070384     1.068947  1.044751  0.953698
                            236.250  1.048055     1.026131  1.048090  0.914325
                            241.875  1.070382     1.043698  1.091834  0.893886
                            247.500  1.265502     1.149688  1.249637  1.002705
                            253.125  1.522550     1.258461  1.431284  1.215696
...                                       ...          ...       ...       ...
2018-12-31 23:00:00 53.4375 275.625 -1.567864    -1.926991 -2.411555 -3.397951
                            281.250 -1.635290    -1.760441 -2.124891 -3.187765
                            286.875 -1.865247    -1.824831 -2.427240 -2.531865
                            292.500 -2.241131    -1.858871 -2.726077 -2.889883
                            298.125 -2.236903    -1.633755 -2.611305 -3.237840

[65520 rows x 7 columns]

In [ ]:
train_dataset = dataset.sample(frac=0.8, random_state=0)
test_dataset = dataset.drop(train_dataset.index)

In [ ]:
train_features = train_dataset.copy()
test_features = test_dataset.copy()

train_labels = train_features.pop('MPG')
test_labels = test_features.pop('MPG')